<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Weather Board</ion-title>
    </ion-navbar>
</ion-header>

<ion-content no-padding>
    <ion-grid>
        <ion-row>
            <ion-col col-12>
                <h2 text-center>{{weatherData.name}}</h2>
                <div text-center class="datetime-container">
                    <div class="datetime">{{weatherData.dt * 1000 | date:'EEEE dd MMM hh:mm a'}}</div>
                </div>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col col-4>
                <ion-row class="left-condition-container" margin-vertical margin-horizontal>
                    <ion-col col-12 class="condition-content">
                        <label>Humidity: </label>
                        <span>{{weatherDataMain.humidity}}%</span>
                    </ion-col>
                    <ion-col col-12 class="condition-content">
                        <label class="pressure">Pressure: </label>
                        <span>{{weatherDataMain.pressure}}hPa</span>
                    </ion-col>
                </ion-row>
            </ion-col>
            <ion-col col-4>
                <div text-center class="middle-condition-container">
                    <div class="condition-content">
                        <div class="temperature">{{weatherDataMain.temp}}&deg;K</div>
                        <div class="description" *ngFor="let w of weatherData.weather">{{w.description}}</div>
                        <div>
                            <img src="http://openweathermap.org/img/w/{{weatherIcon}}" alt="icon">
                        </div>
                    </div>
                </div>
            </ion-col>
            <ion-col col-4>
                <ion-row class="right-condition-container" margin-vertical margin-horizontal>
                    <ion-col col-12 class="condition-content">
                        <label>Min Temp: </label>
                        <span>{{weatherDataMain.temp_min}}&deg;K</span>
                    </ion-col>
                    <ion-col col-12 class="condition-content">
                        <label>Max Temp:</label>
                        <span>{{weatherDataMain.temp_max}}&deg;K</span>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>

        <h5 margin-vertical>Next Few Hours Forecast</h5>
        <ion-scroll scrollX="true" class="center scroll-hourly">
            <ion-row text-center nowrap *ngIf="isToday" margin-top>
                <ion-col col-3 *ngFor="let todayForecast of hourlyList">
                    <p no-margin no-padding>
                        <span>{{todayForecast.hour}}</span>
                    </p>
                    <img no-margin no-padding src="http://openweathermap.org/img/w/{{todayForecast.icon}}.png">
                    <p no-margin no-padding>
                        <span>{{todayForecast.temp}}&deg;K</span>
                    </p>
                </ion-col>
            </ion-row>
        </ion-scroll>

        <h5 margin-vertical>Long Forecast</h5>
        <ion-list class="long-forecast-container">
            <ion-row *ngFor="let forecast of daysList">
                <ion-col col-4>
                    <div>
                        <ion-item no-lines text-wrap>{{forecast.day}}</ion-item>
                    </div>
                </ion-col>
                <ion-col col-4>
                    <div text-center>
                        <img no-margin no-padding src="http://openweathermap.org/img/w/{{forecast.icon}}.png">
                        <ion-item text-center no-lines text-wrap>{{forecast.description}}</ion-item>
                    </div>
                </ion-col>

                <ion-col col-4>
                    <div>
                        <ion-item text-center no-lines><span class="icon"></span>{{forecast.temp}}&deg;K</ion-item>
                    </div>
                </ion-col>
            </ion-row>
        </ion-list>

    </ion-grid>

</ion-content>